# Пример файла CODEOWNERS для GitHub репозитория

# Все файлы — владельцы
*       @Val-d-emar @binary-apple @olenaweb

# Игнорировать некоторые файлы (нет владельца)
# (Если строка не указана, владельцев нет — ревьюеры не назначаются автоматически)

