.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.15rem;
  border: none;

  color: var(--dark-gray-color);

  background: none;

  transition: color 0.2s ease;
}

.button:hover {
  background: var(--disabled-color);
}

.button:focus {
  border: none;
  outline: 1px solid var(--outline-color);
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: auto;
}
